body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  color: #fff;
  background: #0c0f16;
}

.nav-bar-color {
  background: #151921;
  border-color: #181b21;
}
.mt80 {
  padding-top: 80px;
}
.card {
  background: #151921;
}
.midSize {
  width: 250px;
}
